@using Newtonsoft.Json.Linq
@using _2_1_Call_MSGraph.Models
@model _2_1_Call_MSGraph.Models.Customer

@{
    ViewData["Title"] = "Home Page";
}


@{
    ViewBag.Title = "Home Page";
}
<br />
@using (Html.BeginForm("GetUserInfoFromGraphAPI", "Home", FormMethod.Post, new { id = "Form1" }))
{
    <div class="row">
        <div class="col-lg-2">Cust Id</div>
        <div class="col-lg-10">
            @Html.TextBoxFor(a => a.CustomerId, new { @class = "form-control" })

        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-lg-2">Customer Name</div>
        <div class="col-lg-10">
            @Html.TextBoxFor(a => a.CustomerName, new { @class = "form-control" })
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-lg-2">Address</div>
        <div class="col-lg-10">
            @Html.TextBoxFor(a => a.CustomerAddress.HouseName, new { @class = "form-control" })
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2">Location</div>
        <div class="col-lg-10">
            @Html.TextBoxFor(a => a.CustomerAddress.AddressId, new { @class = "form-control" })
         
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-lg-12"><input type="submit" value="Submit" class="btn btn-primary"></div>

    </div>
}
<div class="main">
    <table border="1" class="type1" width="100%">

        <tr>
            @*<th class="bgc1" scope="col" width="3%">No</th>
            <th class="bgc1" scope="col" width="6%">日　時</th>
            <th class="bgc1" scope="col" width="9%">イベント種別</th>
            <th class="bgc1" scope="col" width="15%">会社名</th>
            <th class="bgc1" scope="col" width="10%">ユーザＩＤ</th>
            <th class="bgc1" scope="col" width="13%">プログラム名</th>
            <th class="bgc1" scope="col" width="13%">処理結果</th>
            <th class="bgc1">メッセージ</th>*@
        </tr>
    </table>
</div>
<div class="container">
    <div>
        @await Html.PartialAsync("_TestPartial.cshtml")
    </div>
    <div></div>
    @await Html.PartialAsync("_AnotherPartial");
    <p>@*@{Html.RenderPartialAsync("_TestPartial.cshtml");}*@</p>
</div>